<div class="container">
    <div class="profile">
      <img src="https://cdn.pixabay.com/photo/2014/11/30/14/11/cat-551554_1280.jpg" alt="default user" />
      <h3>User Info:</h3>
  
      <!-- READONLY MODE -->
      <ng-container *ngIf="!showEditMode">
        <div class="flex">
          <p>Password:</p>
          <p>{{ profileDetails.password }}</p>
        </div>
        <div class="flex">
          <p>Email:</p>
          <p>{{ profileDetails.email }}</p>
        </div>
       
        <button class="edit-button" (click)="onToggle()">Edit</button>
      </ng-container>
  
      <!-- EDIT MODE -->
      <ng-container *ngIf="showEditMode">
        <form [formGroup]="form" (ngSubmit)="saveProfileHandle()">
          <!-- username -->
          <div class="flex">
            <p>Password:</p>
            <input
              type="text"
              name="password"
              id="password"
              [value]="profileDetails.password"
              formControlName="password"
              minlength="6"
            />
          </div>
  
          <!-- username validations -->
          <ng-container *ngIf="form.get('password')?.touched">
            <p class="error" *ngIf="form.get('password')?.errors?.['required']">
              Password is required!
            </p>
            <p class="error" *ngIf="form.get('password')?.errors?.['minlength']">
              Password must have at least 6 characters!
            </p>
          </ng-container>
  
          <!-- email -->
          <div class="flex">
            <p>Email:</p>
            <input
              type="email"
              name="email"
              id="email"
              [value]="profileDetails.email"
              formControlName="email"
            />
          </div>
  
          <!-- email validations -->
          <ng-container *ngIf="form.get('email')?.touched">
            <p class="error" *ngIf="form.get('email')?.errors?.['required']">
              Email is required!
            </p>
            <p
              class="error"
              *ngIf="form.get('email')?.errors?.['emailValidator']"
            >
              Email is not valid!
            </p>
          </ng-container>
  
          <!-- Actions -->
          <button class="red-button" (click)="onCancel($event)">Cancel</button>
          <button
            class="green-button"
            [disabled]="form.invalid"
            [style]="{ backgroundColor: form.invalid ? 'grey' : 'green' }"
          >
            Save
          </button>
        </form>
      </ng-container>
    </div>
  </div>

  <section class="view-my">
    <button class="my-posts" (click)="myPosts($event)">My posts</button>
   <div class="wrap">

  <div class="box-top" *ngFor="let p of userPosts">
    <img class="box-image" src="">
    <div class="title-flex">
      <h3 class="box-title">{{p.title}}</h3>
      <p class="time-info">{{p.created}}</p>
    </div>
    <p class="description">{{p.comment}}</p>
  </div>
 
 <div class="box-top" *ngFor="let p of userPosts">
  <img class="box-image" src="">
  <div class="title-flex">
    <h3 class="box-title">{{p.title}}</h3>
    <p class="time-info">{{p.created}}</p>
  </div>
  <p class="description">{{p.comment}}</p>
</div>
   </div>
  </section>

   <ng-container *ngIf="showMyPosts">
      <div class="box" *ngFor="let p of userPosts">
        <div class="box-top">
          <img class="box-image" src="">
          <div class="title-flex">
            <h3 class="box-title">{{p.title}}</h3>
            <p class="time-info">{{p.created}}</p>
          </div>
          <p class="description">{{p.comment}}</p>
        </div>
        <button>
          <a routerLink="" class="button">Delete Post</a>
        </button>
        
        <a href="#" class="button">Edit Post</a>
      </div>
    </ng-container>
  
 <!-- <section class="view-my">
      <button class="my-posts" (click)="myPosts($event)">My posts</button>
      <ng-container *ngIf="showMyPosts">
          <div class="list"  *ngFor="let p of userPosts">
              <h2>Title</h2>
              <p>Comment:</p>
              <p>Created: <time></time></p>
          </div>
          <button class="btn" (click)="deletePost($event)">Delete Post</button>
             or 
              <button (click)="myPosts($event)">
          <a routerLink="/auth/profile" class="button">Delete Post</a>
        </button>
      </ng-container>
   </section>-->


   
