<footer class="site-section site-footer">
    <div class="columns-container">
        <div class="column">
            <ul>
                <li><a routerLink="/contacts">Address</a></li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li>Terms & Conditions</li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li>Policies</li>
            </ul>
        </div>
    </div>
    <footer class="site-footer-container">
        <div class="container">
            <p className="mb-0">Designed by <a className="text-white" href="#">GA</a></p>
            <p>&copy;All Rights Reserved 2024</p>
        </div>
    </footer>
</footer>
