<p>dashboard</p>
<h2>See en the new posts</h2>
<section id="dashboard">
    <div *ngIf="isLoading">
        <app-loader />
    </div>
    <!-- Display a div with information about every post (if any)-->
    <div *ngIf="isLoading">
        <div *ngFor="let post of postslist" class="post-list-container">
            <h3 class="username">{{post.name}}</h3>
            <img src="" alt="" />
            <p class="comment">{{post.comment}}</p>
            <p>Date: <time>{{post.created}}</time></p>
            <a class="details-btn" href="">More Info</a>
        </div>
    </div>

</section>