


.site-header {
    padding: 0 auto;
    display: flex;
    justify-content: space-between;

}
.site-header nav {
    padding-right: 1em;
   
}

.site-header nav ul {
    display: flex;
    
}

nav li {
    list-style: none outside;
    padding: 0 0.5em;
    color: #112faa;
    font-size: 18px;
}

.site-header nav a {
    text-decoration: none;
   /* color: #0e770e;   */
   cursor: pointer;
}

.site-title a {
    display: block;
    width: 150px;
    height: 120px;
    overflow: hidden;
    text-indent: -250vw;
   background-image: url("images/logo-love.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 15em;
}

.site-header nav a:hover{
    text-decoration: underline;
    color: green;
    border-radius: 2em;
   transition: background-color  0.2s ease-in 0s;
}
