<header class="site-section site-header">
    <div class="site-title">
        <a href="#">Business</a>
    </div>
    <nav>
        <ul>
            <li><a routerLink="/home">HOME</a></li>
            <li><a routerLink="/page/posts">BLOG</a></li>
            <li><a routerLink="/book">BOOKING</a></li>
            <ul *ngIf="isLoggedIn" class="user">
                <li><a routerLink="/auth/profile">ACCOUNT</a></li> <!--[{first name}}-->
                <li><a routerLink="/page/add-post">CREATE POST</a></li>
                <li (click)="logout()"><a>LOGOUT</a></li>
            </ul>
                <ul *ngIf="!isLoggedIn" class="guest">
                <li><a routerLink="/auth/login">LOGIN</a></li>
                <li><a routerLink="/auth/register">REGISTER</a></li>
                </ul>
            <li><a routerLink="/contacts">CONTACTS</a></li>
        </ul>
    </nav>
</header>
