<h1>Comment for Product</h1>

<div class="center-div" *ngIf="isLoading">
    <app-loader></app-loader>
</div>


    <div class="main-catalog" *ngIf="this.hasResult && !isLoading">
        <div class="card-container">
            <div class="card" *ngFor="let data of comments">
                <div class="card-content">
                    <h2>{{data.title}}</h2>
                    <p>{{data.description}}</p>
                    <p>Created on: {{data.createdAt | date: "dd MMM yyyy"}}</p>
                    <a [routerLink]="['/comment', data._id, 'details']">Details</a>
                </div>
            </div>
        </div>
    </div>



    <div class="card-noProducts" style="display: block;" *ngIf="!hasResult && !isLoading">
        <h1>Sorry, there are no comments yet. You can be the first.</h1>
    </div>





<!---<ng-container *ngIf="loggedIn">
    <div class="add">
        <button> <a routerLink="/comment/create"><strong>Create Comment</strong></a></button>
    </div>
</ng-container>-->



