<section class="articles">
    <article>
      <div class="article-wrapper">
        <figure>
          <img src={{singlePost.image}} alt="" />
        </figure>
        <div class="article-body">
          <h2>Title: {{singlePost.title}}</h2>
          <p>Comment: {{singlePost.comment}}</p>
          <p>Created by: {{singlePost.username}}</p>
          <p>Date: {{singlePost.created | time}}</p>
        </div>
      </div>
    </article>
  </section>

  <!--<div class="card">
    <div >
        <h3>Title:{{ singlePost.title}} </h3>
        <div class="content">
            <p>{{singlePost.comment}}</p>
        </div>
        <div class="author">
            <p>{{singlePost.username}}</p>
        </div>
        <div>
            <p>Date: <time>{{singlePost.created | time}}</time></p>
        </div>
    </div> 
</div>-->
