<footer class="site-section site-footer">
    <div class="columns-container">
        <div class="column">
            <ul>
                <li>Address</li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li>Terms & Conditions</li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li>Policies</li>
            </ul>
        </div>
    </div>
    <footer class="site-footer-container">
        <div class="container">
            <p>&copy;Copyright 2024</p>
        </div>
    </footer>
</footer>


