<p>footer works!</p>
<footer class="site-section site-footer">
    <div class="container">

        <div class="columns-container">
            <div class="column">
                <h4>Address</h4>
                <ul>
                    <li>BLorem ipsum dolor sit amet</li>
                    <li>consectetur adipiscing elit.</li>
                    <li>Fusce sed quam accumsan</li>
                    <li>lacinia odio a</li>
                </ul>
            </div>
          
            <div class="column">

                <h4>Resources</h4>
                <ul>
                    <li>Business Information</li>
                    <li>Publications</li>
                </ul>
            </div>

            <div class="column">
                <h4>Mobile Apps</h4>
                <ul>
                    <li>Statutes</li>
                    <li>Code of Ethics Policy</li>
                    <li>Annual Finance Report 2023</li>
                </ul>
            </div>
        </div>

    </div>
    <footer class="site-footer">
        <div class="container">
            <p>&copy;Copyright 2023</p>
        </div>
    </footer>
</footer>

