
/*.site-footer {
    background: #000;
    color: white
}*/

/*.site-section site-footer {
 display: flex;
 flex-direction: column;
}*/

.site-footer:last-child {
    border-top: 2px solid #949090;
}

.columns-container {
display: flex;
gap: 2em;
justify-content: space-evenly;
padding-top: 1em;
padding-bottom: 1em;
/*align-items: center;*/
}


.column ul li {
    list-style: none;
}
.site-footer-container {
    padding-top: 1em;
    border-top: 2px solid #949090;
}

.container p {
    text-align: center;
    padding-bottom: 1em;
}

.column ul li a {
    text-decoration: none;
    color: black;
}