<p>login works!</p>

<div class="login-page">
    <div class="form">
      <div class="login">
        <div class="login-header">
          <h3>LOGIN</h3>
          <p>Please enter your credentials to login.</p>
        </div>
      </div>
      <form class="login-form" #form="ngForm" (ngSumbit)="login(form)">
        <input type="email" 
        placeholder="email" 
        name="email" id="email" 
        ngModel 
        #inputEmail="ngModel" 
        required 
        [appEmail]="domains"
        
        />
        <!--[appEmail]="domains"-->
  
        <ng-container *ngIf="inputEmail.touched">
          <p class="error" *ngIf="inputEmail.errors?.['required']">
            Email is required!
          </p>
          <p class="error" *ngIf="inputEmail.errors?.['emailValidator']">
            Email is not valid!
          </p>
         </ng-container>
  
        <input type="password"
         placeholder="password"
          id="password"
           name="password"
           ngModel
            #inputPassword="ngModel"
            required
            minlength="6"
             />
  
             <ng-container *ngIf="inputPassword.touched">
              <p class="error" *ngIf="inputPassword.errors?.['required']">
                Password is required!
              </p>
              <p class="error" *ngIf="inputPassword.errors?.['minlength']">
                Password must be at least 6 characters!
              </p>
            </ng-container>
        <!--<button (click)="login(inputEmail.value, inputPassword.value)">login</button>-->
        <button [disabled]="form.invalid">Login</button>
        <p class="message">Not registered? <a routerLink="/auth/register">Create an account</a></p>
      </form>
    </div>
  </div>