<div class="modal" tabindex="-1">
    <div class="modal-dialog shadow">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="mb-0">Modal body {{ current }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-subtle" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
