<h2>See the new posts</h2>
<div class="container">
    <main>
        <section>
            <div class="inner">
                <div *ngIf="!isLoading">
                    <app-loader />
                </div>
                <!-- Display a div with information about every post (if any)-->
                <div class="content">
                    <div *ngFor="let post of allPosts" class="post-list-container">
                        <h3 class="author">{{post.username}}</h3>
                        <figure class="media"><img src={{post.image}} alt="image" /></figure>
                        <p class="comment">{{post.comment | slice:25 }}</p>
                        <p>Date: <time>{{post.created | time}}</time></p>
                        <button *ngIf="isLoggedIn">
                            <a class="details-btn" [routerLink]="post.objectId">More Info</a><!--{{post.id}}-->
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>