<section class="create">
    <article class="narrow">
        <header class="pad-med">
            <h1>New Post</h1>
        </header>
        <form id="create-form" class="main-form pad-large" #form="ngForm" (ngSubmit)="addPost(form)">
           <!-- <div class="error">Error message.</div>-->
            <label>Title: <input type="text" 
                name="title" 
                id="title"
                #inputTitle="ngModel"
                ngModel
                required
                minlength="5"
                >
                <ng-container *ngIf="inputTitle.touched">
                    <p class="error" *ngIf="inputTitle?.errors?.['required']">
                      Title is required.
                    </p>
                    <p class="error" *ngIf="inputTitle?.errors?.['minlength']">
                      Title must be at least 5 characters long.
                    </p>
                  </ng-container>
            </label>

            <label>Image URL: <input type="text" 
              name="imgUrl" 
              #inputImg="ngModel" 
              ngModel
                ></label>

            <label>Comment: <textarea name="description"
                id="description"
                #description="ngModel"
                ngModel
                required
                minlength="10"></textarea>
                <ng-container *ngIf="description.touched">
                    <p class="error" *ngIf="description?.errors?.['required']">
                      The field with your post is required.
                    </p>
                    <p class="error" *ngIf="description?.errors?.['minlength']">
                      Post must be at least 10 characters long.
                    </p>
                  </ng-container>
            </label>

            <div class="new-post-buttons">
                <button class="cancel" routerLink="/page/posts">Cancel</button>
                <button class="createpost">Create Post</button>
              </div>

           <!--<input class="action cta" type="submit" value="Create Post">--> 

        </form>
    </article>
</section>
