<main class="about">
    <div class="center-div" *ngIf="isLoading">
        <app-loader></app-loader>
    </div>

    <div class="grid-container">
        <div class="grid-item">

            <h3 class="h1-title">Share Your Doughy Heritage</h3>
            <h1 class="h3-title">A Taste Of DoughNation</h1>
        </div>
        <div class="grid-item">
            <p class="p-text">DoughNation is your global hub for celebrating traditional dough-based dishes from around
                the world! This app lets you share, explore, and savor the world’s culinary heritage—one dough dish at a
                time.
            </p>
            <img src="../../../assets/homebakery.png" alt="bakery" class="responsive-image">


        </div>
        <div class="grid-item">

            <img src="../../../assets/about.jpg" alt="contacts image" class="responsive-image">
            <p class="p-text"> Upload photos, and stories about dough dishes unique to your culture
                or family traditions. Explore an ever-growing collection of dough-based delights posted by users
                worldwide. Learn the history and cultural significance behind each dish.
            </p>

        </div>
        <div class="grid-item">

            <p class="p-text">Food tells a story, and dough dishes are at the heart of many cultures. DoughNation gives
                you the chance to preserve, discover, and celebrate these traditions while connecting with people who
                share a love for global cuisine.Join Us and help build a delicious, dough-filled world of culture and
                connection.</p>
            <img src="../../../assets/Bakery.jpg" alt="bakery" class="responsive-image">

        </div>
    </div>
</main>