
<main class="about">
    <div class="center-div" *ngIf="isLoading">
        <app-loader></app-loader>
    </div>
    <div class="grid-container">
        <div class="grid-item">
            <h3 class="h1-title">BAKERY MAKES</h3>
            <h1 class="h3-title">A Taste Of  The Good Life</h1>
            <img src="../../../assets/homebakery.png" alt="bakery" class="responsive-image">
        </div>
        <div class="grid-item">
            <br />
            <br />
            <br />
            <br />
            <br />
            <p class="p-text">For over 30 years, we have been offering the best bakery products, using the tradition of
                master artisans as our guide and innovation to develop the best products as our strategy.
            </p>
            <p class="p-text">We aim to create a new culture of bakery based on tradition and enhanced by innovation to make
                people’s lives easier and happier.
            </p>
            <p class="p-text">Our brands and product families mark our bakery character. Each serves customers in different
                ways, but all are focused on delivering the best quality.</p>
    
        </div>
        <div class="grid-item">
            <br />
            <br />
            <br />
            <br />
            <br />
            <img src="../../../assets/bakaryhome.jpg" alt="contacts image" class="responsive-image">
           
        </div>
        <div class="grid-item">
            <br />
            <br />
            <br />
            <br />
            <p class="p-text">Should you wish to connect us, please feel free to use the following:</p>
            <p class="p-text"><i class="fa-solid fa-envelope"></i><strong>Email: thebestbakery.bg</strong></p>
            <p class="p-text"><i class="fa-solid fa-phone-volume"></i><strong>TEL: 0700 12 345</strong> </p>
            <p class="p-text"><i class="fa-solid fa-clock"></i>Monday - Sunday: 06:00 - 18:00</p>
            <p class="p-text"><i class="fa-solid fa-map-location-dot"></i><strong>Sofia, 28 Some Place Str.</strong></p>
        </div>
    </div>
</main>


