/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap");


/*Font-size – 18px
Font-size for big title – 90px
Font-size for other text – 16px
Karla and Cormorant Infant). */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font:18px/1.5 "Karla", sans-serif;
}

h1 h2 h3 h4 h5 h6 {
    font-family: "Karla", sans-serif;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

body {
  max-width: 1400px;
  margin: 0 auto;
 /* border: 2px solid black;
  color: #fff;*/
  padding-top: 1em;
  padding-bottom: 2em;
  }

  body {
    background-image: url("images/dog-and-cat-cover.jpg");
    background-repeat: no-repeat;
    background-size: 40%;  /*cover*/
    background-position: top center;
    

}





/* Media Queries */
@media (min-width: 600px) {
    html {
      font-size: 12px;
    }
  }
  
  @media (min-width: 1024px) {
    html {
      font-size: 14px;
    }
  }
  
  @media (min-width: 1280px) {
    html {
      font-size: 16px;
    }
  }