.home-container {
  padding-top: 15em;
}

.home-container h1 {
  padding-bottom: 1em;
}

.home-container p {
  text-align: center;
}

.home-list a {
    color: white;
    text-decoration: none;
    background-color: #4ebced;
    border: none;
    border-radius: 0.3em;
    padding: 0.5em 5.2em;
    margin: 1em;
  }
  
  .home-list a:hover {
    cursor: pointer;
  }
  
  .home-list ul {
    display: flex;
    justify-content: space-evenly;
    padding: 2em 0;
    margin: 1em;
  }
  
  .home-list li {
    list-style: none;
  }