<p>home works!</p>
<section id="home">
    <h1>Welcome</h1>
    <p>Our website, where curiosity meets enjoyment!
        Discover fascinating fun facts that engage and entertain everyone,
         inviting you to participate in the joy of learning something new together.</p> 
        <img id="" src="" alt=""/>
  </section>
  <div class="home-list">
    <ul>
      <li>
        <a routerLink="">Want to be a volunteer</a>
      </li>
      <li>
        <a routerLink="">want to make a donation</a>
      </li>
    </ul>
  </div>
