<main>
<section class="welcome">
  <h1>Welcome, Friends</h1>
  <p>Traveling and can’t take your pet with you? Looking for a good dog hotel offering overnight accommodations with
    24/7
    supervision for your dog or cat? Or a place to stay just for the day? We offer cat and dog boarding as well as cheap
    pet grooming so relax and enjoy your trip knowing your dog or cat is safe, secure and comfortable with us at Dogs
    and Cats Hotel "KEDI". Set in a green area of 5 acres in Lokorsko, Sofia we have build modern facilities for yours
    dogs and
    cats. We are sure the pets will enjoy a stay our hotel. We look forwarding to welcoming you on our premises.</p>
</section>
 <hr>
<section class="cats-hotel">
  <h2>THE CAT HOTEL</h2>
  <p>The velvet paws will feel comfortable in our 170 sqm heated cat house.
    There are climbing trees, caves and hiding places everywhere, so that no cat's wishes are left unfulfilled.
    The adjacent 80 sqm garden is another highlight for the cats. There you can have fun and play extensively!
    Our 18 spacious apartments, with a view of the large playroom, enable seniors and shy cats to have a quiet and relaxed adjustment period.
    Motivational games and crawling sessions are of course included several times a day!</p>
</section>
<section class="cats-hotel-description">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<div class="cards">
  <div class="card">
    <h2 class="card-title">Play</h2>
    <img src="https://th.bing.com/th/id/R.7bcd8edc9f1038a1b6af1a8588e7ee82?rik=we9CfwEaNY0cUg&pid=ImgRaw&r=0" alt="">
    <p class="card-desc">Motivational games and crawling sessions are of course included several times a day!</p>
  </div>
  <div class="card">
    <h2 class="card-title">Sleep</h2>
    <img src="https://s.yimg.com/bf/tw/ysm/soeasy/pr/businessImg/msr20180928018_d.jpg" alt="">
    <p class="card-desc">Our 18 spacious apartments, with a view of the large playroom, enable seniors and shy cats to have a quiet and relaxed adjustment period.</p>
  </div>
  <div class="card">
    <h2 class="card-title">Garden</h2>
    <img src="https://i.pinimg.com/736x/c3/2c/35/c32c35b702c114e14cd976a9d7a57e0f--google-search.jpg" alt="">
    <p class="card-desc">The adjacent 80 sqm garden is another highlight for the cats. There you can have fun and play extensively!</p>
  </div>
</div>
</section>

<section class="dogs-hotel">
  <h2>THE DOG HOTEL</h2>
  <p>The furry friends can enjoy their vacation in our three dog houses.
    The dogs can relax in peace and each has their own heated place to sleep. Every house is equipped with a music system,
    which ensures relaxation after feedings.</p>
</section>
<section class="dogs-hotel-description">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<div class="cards">
  <div class="card">
    <h2 class="card-title">Pool games</h2>
    <img src="https://i.pinimg.com/originals/ff/7f/c2/ff7fc2645c4e137d9f5b962281ab8031.jpg" alt="">
    <p class="card-desc">You can have fun with your holiday acquaintances on the playgrounds and in the summer you can cool off in the dog pool.</p>
  </div>
  <div class="card">
    <h2 class="card-title">Play</h2>
    <img src="https://www.petpalaceresort.com/wp-content/uploads/2012/04/24081-900x600.jpg" alt="">
    <p class="card-desc">Depending on the character, we offer varied animations, such as swap ball games or foraging.</p>
  </div>
  <div class="card">
    <h2 class="card-title">Great time</h2>
    <img src="https://blog.franconnect.com/hs-fs/hubfs/Imported_Blog_Media/1566e4c25ae785396b02f95376310f8a7654.jpg?width=1280&height=720&name=1566e4c25ae785396b02f95376310f8a7654.jpg" alt="">
    <p class="card-desc">Of course, cuddles are not neglected either!</p>
  </div>
</div>
</section>

<section class="team">
  <header>
    <h3>Our Team</h3>
  </header>
  <div class="members">
    <div class="container">
      <span><img src="https://th.bing.com/th/id/R.8ebf4fb7a3b2bb563c88cc493b7cd9c7?rik=yvchotwdmQ386w&riu=http%3a%2f%2fwww.tierheim-marburg.de%2fwp-content%2fuploads%2f2015%2f08%2fSteffen_Schorak__Tierpfleger_im_Tierheim_Maeburg.jpg&ehk=fUbwUUMg9vjaj698P%2bsVbaDgt04CkwD1Jx%2fGvjovWJY%3d&risl=&pid=ImgRaw&r=0"
          alt=""></span>
      <h2>Daniel Khan</h2>
      <h3>Animator</h3>
      <p>My job is to entertain our guests during their stay at the "Dogs and Cats Hotel Kedi".</p>
    </div>
    <div class="container">
      <span><img
          src="https://th.bing.com/th/id/R.a9729e90c2b7eec84d04154385a4759d?rik=GRIMiaIXLLv0OA&riu=http%3a%2f%2f2.bp.blogspot.com%2f-fLFxbXL2RVA%2fUO991we8CmI%2fAAAAAAAAAj8%2flwkQklOm5qw%2fs1600%2fredone27.jpg&ehk=%2bmJGd8P2Zz%2biiWl9lzm%2byHqajJ2sfKm%2fI3DVpa6WPsI%3d&risl=&pid=ImgRaw&r=0"
          alt="mari"></span>
      <h2>Mary Cooper</h2>
      <h3>Hotel manager</h3>
      <p>In my spare time, I like to play with my best friend, Barry</p>
    </div>
    <div class="container">
      <span><img src="https://img1.wsimg.com/isteam/stock/87319/:/cr=t:0%25,l:3.38%25,w:62.92%25,h:94.34%25/rs=w:365,h:365,cg:true,m"></span>
      <h2>Natali Moris</h2>
      <h3>Dog and cat groomer</h3>
      <p>Our procedures are not just bathing and trimming. We want your dog or cat to feel pampered and enjoy the
        process so that when it's time for their next visit, they'll enjoy it even more.</p>
    </div>
    <div class="container">
      <span><img src="https://vetstarclinic.com/images/pr-10_1_m.jpg"
          alt="vet"></span>
      <h2>Mark Tilrom</h2>
      <h3>VET</h3>
      <p>That's right, we have a vet, you could benefit from a complete examination of your pet.</p>
    </div>
    <div class="container">
      <span><img src="https://www.pioneerveterinaryclinic.com/storage/app/media/PVC-Staff_Pictures/assistant-taylor-welch.jpg"
          alt="oip"></span>
      <h2>Erken Adem</h2>
      <h3>Animator</h3>
      <p>You can count on me to keep your pet fed, watered and given lots of hugs from me</p>
    </div>
  </div>
</section>
</main>