<p>home works!</p>
<section class="home-container">
  <h1>Welcome Friends!</h1>
  <p>We have developed a holistic approach to improving the health and wellbeing of animals, people and natural
    environments in order to create a harmonious, sustainable ecosystem between all three. The protection of animals and
    the restoration of nature are also recognised as essential tools in the fight against climate change and the threat
    it poses to the planet and all living things.</p>
  <img id="" src="" alt="" />
  <div class="home-list">
    <ul>
      <li>
        <a routerLink="">VOLUNTEER</a>
      </li>
      <li>
        <a routerLink="">DONATE</a>
      </li>
      <li>
        <a routerLink="">ADOPT</a>
      </li>
    </ul>
  </div>
</section>
